body, textarea {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #70747A;
}

html {
    scroll-behavior: smooth;
}

.barra-navegacao {
    width: 100%;
    height: 50px;
    background-color: #7A7A73;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;
}

.barra-navegacao-itens {
    list-style: none;
    position: absolute;
    height: 50px;
    line-height: 50px;
    margin: 0;
    right: 2em;
}

.barra-navegacao-itens li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 15px;
}

.barra-navegacao-itens li a{
    color: #FFF;
    text-decoration: none;
    transition: .5s;
    right: 0;
}

.barra-navegacao-itens li a:hover{
    color: #C9D6DF;
    text-decoration: none;
    transition: .5s;
}

.logo {
    list-style: none;
    position: absolute;
    height: 50px;
    line-height: 50px;
    margin: 0;
    left: 2em;
    color: #FFF;
    text-transform: uppercase;

}

.div-sobre {
    width: 100%;
    background-color: #DDDAD0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sobre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 5em;
    max-width: 1200px;
    margin: 0 auto;
}

.foto-perfil {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.descricao h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
}

.descricao p {
    color: #555;
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;
}

.habilidades {
    padding: 2em;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.habilidades h2{
    font-size: 2em;
    margin-bottom: 1em;
    color: #333;
}

.grid-habilidades {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.habilidade {
    background-color: #DDDAD0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    position: relative;
    transition: all 0.3s ease;
}

.habilidade img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 15px;
}

.descricao-habilidade {
        max-height: 0;
        transition: all 0.3s ease;
        text-align: center;
        overflow: hidden;
        font-size: 0.9;
        padding: 0 5px;
    }

.habilidade:hover .descricao-habilidade {
    max-height: 250px;
    opacity: 1;
    margin-top: 5px;
}

.projetos {
    padding: 2em;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.projetos h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #333;
}

.grid-projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.projeto {
    position: relative;
    background-color: #DDDAD0;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    padding: 1em;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform .25s ease;
}

.projeto:hover {
    transform: translateY(-4px);
}

.projeto img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin: 1em;
}

.descricao-projeto {
    color: #333;
    text-align: justify;
    opacity: 1;
}

@media (max-width: 768px) {
    .sobre {
        flex-direction: column;
        text-align: center;
    }

    .descricao {
        max-width: 100%;
    }

    .foto-perfil {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    }

    .descricao h1 {
    margin: 0;
    font-size: 1em;
    color: #333;
    }

    .logo {
        font-size: 0.9em;
    }

    .barra-navegacao-itens li a {
        font-size: 0.8em;
    }

    .grid-habilidades {
        grid-template-columns: 1fr;
    }

    .projeto {
        flex-direction: column;
        text-align: center;
    }

    .grid-projetos {
        grid-template-columns: 1fr;
    }

}